!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    != css('normalize')
    != css('common-style')
    != js('jquery')
    != js('underscore')
    != js('common-script')

  body
    section#header
      .exterior
        .interior
          block header

    section#leader
      .exterior
        .interior
          block leader

    section#footer
      .exterior
        .interior
          block footer